<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :address_title %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :address_city %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street, id: :address_street %>
  </div>

  <div class="field">
    <%= form.label :house %>
    <%= form.text_field :house, id: :address_house %>
  </div>

  <div class="field">
    <%= form.label :office %>
    <%= form.text_field :office, id: :address_office %>
  </div>

  <div class="field">
    <%= form.label :entrance %>
    <%= form.text_field :entrance, id: :address_entrance %>
  </div>

  <div class="field">
    <%= form.label :floor %>
    <%= form.text_field :floor, id: :address_floor %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :address_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
